for page in pages
    div(class="background-"+page.color data-role="page", data-theme="a", id=page.id, data-title=page.name)
        include ../includes/header.jade

        div.header(data-role="header" role="banner" class=page.id+" color-"+page.color)
            h1= page.name
        div(class="ui-main" data-role="content" role="main")
            div.ui-grid-e
                div.ui-block-a
                    div.ui-text.ui-column-left
                        div.ui-body
                            div.page-description.description-active
                                !=page.description
                            for item, index in page.items
                                div(id="description-"+item.name, class="item-description")
                                    h2= item.title
                                    if item.image
                                        div(class="description-image")
                                            img(src="content/images/"+item.image)
                                    p= item.description
                                    div(class="item "+item.type+"-opener", data-file=item.url data-id=item.name, data-poster=item.image)
                                        h3 Open
                div(class="ui-block-b")
                    div.ui-grid-c
                        for item, index in page.items
                            - var featured = ""
                            if item.featured
                                - featured = "featured"
                            div(class="item-container "+featured+" icon-right "+item.type, data-id=item.name, id="button-"+item.name)
                                div(class="item "+featured)
                                    h3= item.title
                                    span= item.author + " | " + item.year
        include ../includes/footer.jade
