mixin description(item, search)
    - var active = ""
    - var style = ""
    - var searchPrefix = ""
    if search
       - searchPrefix = "search-"
    if search && index === 0
        - active = "description-active"
        - style = "display: block;"
    div(id="description-"+searchPrefix+item.name, class="item-description "+active, style=style)
        h2= item.title
        if item.image
            div(class="description-image")
                img(src="content/images/"+item.image)
        p!= item.description
        - var text = "Open"
        - var file = item.file
        if item.type === "article" || item.type === "presentation"
            if item.preview
                - text = "Preview"
                - file = item.preview
        else if item.type === "video"
            - text = "View"
        else if item.type === "link"
            - text = "Open link"
            - file = item.url
        div(class="item-container description-item icon-right "+item.type, data-id=searchPrefix+item.name)
            div(class="item "+item.type+"-opener", data-file=file data-id=item.name, data-poster=item.image)
                h3= text
        if item.type === "article" && item.url
            div(class="item-container description-item icon-right link", data-id=searchPrefix+item.name)
                div(class="item link-opener", data-file=item.url data-id=item.name, data-poster=item.image)
                    h3 Open Link
